@import './base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-weight: normal;
}

/* font-family: 'Bebas Neue', cursive;
font-family: 'Inter', sans-serif; */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #170831; */
}

body h1 {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  text-align: center;
}

.textsInfo {
  padding: 1rem;
  color: white;
  font-family: 'Inter', sans-serif;
}
.textsInfo p {
  text-align: center;
}

.textsInfo h1 {
  color: #f0db4f;
}
